/*Carousel-demo*/
.carousel-demo{
    animation: straw 15s ease infinite;
}
@keyframes straw {
  0%{
    background-image: url('/assets/carousel/carousel-voiture-2.jpg');
  }
  20%{
    background-image: url('/assets/carousel/carousel-voiture-3.jpg');
  }
  40%{
    background-image: url('/assets/carousel/carousel-voiture-4.jpg');
  }
  60%{
    background-image: url('/assets/carousel/carousel-voiture-5.jpg');
  }
  80%{
    background-image: url('/assets/carousel/carousel-voiture-6.jpg');
  }
  100%{
    background-image: url('/assets/carousel/carousel-voiture-7.jpg');
  }
}
/*Carousel-demo*/
